.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: auto;
}

.article-card-container {
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  width: 375px;
}

.article-card-img {
  margin-top: 5px;
  border-radius: 8px;
  height: 300px;
  width: 365px;
}
