.article-card-wrapper {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  padding-bottom: 5;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flexbox;
  color: rgba(255, 255, 255, 0.87);
}
.bottom-wrapper {
  margin-bottom: 0;
  line-height: 0.4;
}

.article-card-img {
  height: 200px;
  width: 300px;
}

#author {
  text-align: center;
  font-weight: bold;
}

.article-card-body {
  text-align: left;
}

.vote-btn {
  padding: 5px;
  font-size: 0.8rem;
}
.votes-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.votes {
}
