.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.article-card-container {
  background-color: beige;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  width: 375px;
}

.article-card-img {
  margin-top: 5px;
  border-radius: 8px;
  height: 300px;
  width: 365px;
}

button {
  margin: 5px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 375px;
  height: 100px;
}

textarea {
  border-radius: 5px;
  height: 80px;
  width: 360px;
}

ul {
  padding: 0;
}
